<ion-view view-title="任务详情" id="detail_view" cache-view="false">
  <ion-content>
    <header class="card">
      <div class="item item-avatar">
        <img src="assets/images/avatar-girl@2x.png">
        <h2>{{detail.info.acceptorCompany || detail.info.ownerStoreName}}</h2>
        <p>
          <span class="padding-right">{{detail.info.acceptorName}}</span>
          <a class="gray" ng-href="tel:detail.info.acceptorMobileNumber || detail.inf.ownerName">
            {{detail.info.acceptorMobileNumber || detail.inf.ownerName}}
            <i class="icon ion-ios-telephone balanced" ng-if="detail.info.acceptorMobileNumber"></i>
          </a>
          
        </p>
      </div>
    </header>

    <section class="row row-no-padding text-center" ng-if="detail.info.taskType==1&&detail.info.status<4">
      <div class="col card">
        <div class="count">{{detail.info.yesterdayOrderCount}}单</div>
        <div class="desc">昨日订单</div>
      </div>
      <div class="col card">
        <div class="count">{{detail.info.yesterdayRepurchaseAmount}}元</div>
        <div class="desc">昨日复购金额</div>
      </div>
      <div class="col card">
        <div class="count">{{detail.info.totalOrderCount}}单</div>
        <div class="desc">累计订单</div>
      </div>
    </section>

    <section class="card task-info">
      <div class="item item-text-wrap padding-vertical">
        {{detail.info.taskTitle}}
        <span class="pull-right gray">{{detail.info.publishDate}}</span>
      </div>
      <div class="item item-text-wrap">
        {{detail.info.taskContent}}
      </div>
      <div class="item item-text-wrap padding-vertical" ng-if="detail.info.taskType==1&&detail.info.status>=4">
        累计订单
        <span class="pull-right assertive">{{detail.info.totalOrderCount}}单</span>
      </div>
    </section>

    <section class="timeline card">
      <div class="line-item" ng-class="{active: detail.info.status >= 1}">
        <div class="date">{{detail.info.acceptedDate}}</div>
        <div class="status">接受任务</div>
      </div>
      <div class="line-item" ng-class="{active: detail.info.status > 1, current: detail.info.status == 1}">
        <div class="date" ng-if="detail.info.status == 1">{{detail.info.currentDate}}</div>
        <div class="status">已推广{{detail.info.taskPeriodDay}}天</div>
      </div>
      <div class="line-item" ng-class="{active: detail.info.status > 3, current: detail.info.status == 3}">
        <div class="date">{{detail.info.finishDate}}</div>
        <div class="status">外包商确认结束</div>
      </div>
      <div class="line-item" ng-class="{active: detail.info.status == 4}">
        <div class="date">{{detail.info.reviewDate}}</div>
        <div class="status">商家评价</div>
      </div>
      <!-- <div class="line-item" ng-class="{active: detail.info.status == 5}">
        <div class="date"></div>
        <div class="status">确认付款，任务完成</div>
      </div> -->
    </section>
      
  </ion-content>

  <section class="bar bar-footer row-no-padding">
    <div class="col-20 text-center col-center">
      <a href="tel:02131659327" class="assertive">点点客服</a>
    </div>
    <div class="col-80">
      <button class="button button-full button-balanced" ng-click="detail.review()" ng-disabled="detail.info.reviewDisabled" ng-show="!detail.info.cancelEnabled">{{detail.info.reviewText}}</button>
      <button class="button button-full button-balanced" ng-click="detail.cancel()" ng-show="detail.info.cancelEnabled">取消任务</button>
    </div>
  </section>

</ion-view>