.publish-view{
  background: #32B77D;
  &:after{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/images/bg-03@2x.png) no-repeat center;
    background-size: contain;
    /*opacity: 0.2;*/
    z-index: -1;
  }
}


.house{
  margin-top: 20px;
  min-height: 375px;
}

.house .eave{
  width: 100%;
  display: block;
}

.house .body{
  margin: -30px 20px 0;
  background: #fff;
  border-radius: 4px;
  box-shadow: rgba(49,49,49,.5) 0 3px 5px 0;
  padding: 20px;
}

.house .body.task-form{
  margin-top: 55px;
  padding-top: 10px;
  position: relative;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.body article{
  padding: 20px 15px;
}

.body .store-info{
  padding-top: 0;
}

.body article:not(:last-child){
  border-bottom: solid 4px #95d8bb;
}

.store{
  /*clear: both;*/
}

.store .name{
  color: #4A4A4A;
  font-size: 16px;
  padding-top: 15px;
}

.store .address{
  color: #929292;
  padding-top: 15px;
}

.avatar-wrapper{
  width: 85px;
  height: 85px;
  margin-right: 10px;
  border-top-left-radius: 95px;
  border-top-right-radius: 95px;
  /*background: #FAF5EA;*/
  float: left;
}

.address-wrapper{
  /*padding-left: 10px;*/
}

.house img.avatar{
  display: block;
  width: 100%;
  padding: 10px;
}

.body .desc{
  background: #FAF5EA;
  padding: 10px 18px;
  color: #4A4A4A;
}

.confirm-wrapper{
  padding: 0 20px 18px;
}

// .button{
//   display: block;
//   width: 100%;
//   height: 43px;
//   line-height: 43px;
//   background: #32B77D;
//   color: #fff;
//   font-size: 16px;
//   text-align: center;
//   outline: none;
//   border: 0;
//   border-radius: 3px;
//   cursor: pointer;
// }

// .button.publish{
//   height: 50px;
//   line-height: 50px;
//   margin-top: 18px;
// }


.task-form .title{
  font-size: 13px;
  padding-bottom: 4px;
}

.task-form input{
  display: block;
  border: 0;
  border-radius: 0;
  outline: none;
  padding: 0 15px;
  width: 100%;
  line-height: 40px;
  font-size: 14px;
  color: #262626;
  margin-bottom: 10px;
  background: #FAF5EA;
}

.task-form textarea{
  display: block;
  border: 0;
  width: 100%;
  line-height: 22px;
  resize: none;
  font-size: 14px;
  padding: 10px 15px;
  outline: none;
  color: #262626;
  border-radius: 0;
  margin-bottom: 20px;
  background: #FAF5EA;
}

.pull-right{
  float: right;
}

.cmds{
  position: absolute;
  width: 100%;
  top: -43px;
  left: 0;
}

.cmd{
  float: left;
  width: 48%;
  height: 43px;
  line-height: 43px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  background: rgba(0,0,0,.5);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.cmd:first-child{
  margin-right: 4%;
}

.cmd.active{
  color: #32B77D;
  background: #fff;
}